name: build

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
        with:
          path: py42
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: pip install tox==3.17.1
      # - name: Run Unit tests
      #   run: cd py42; tox -e py  # Run tox using the version of Python in `PATH`
      # - name: Submit coverage report
      #   uses: codecov/codecov-action@v1.0.7
      #   with:
      #     file: py42/coverage.xml
      - name: Checkout mock server 
        uses: actions/checkout@v2
        with:
          ref: feature/make-containers-use-host
          repository: code42/code42-mock-servers
          path: code42-mock-servers
      - name: Start up the mock servers
        run: cd code42-mock-servers; docker-compose up -d --build
      # - name: Curl against one of the containers 
      #   run: docker ps -a; docker inspect --format "{{json .State.Health }}" mock_core | jq; curl http://127.0.0.1:4200/api/User/asdfz
      - name: Run the integration tests!!
        run: cd py42; tox -e integration